{{!< default}}

{{#get "posts" include="authors,tags" filter="featured:false" limit=@config.posts_per_page}}
  <div class="content-area">
    <main class="site-main">

      <div class="post-feed">
        {{#foreach posts}}
          {{> "loop"}}
        {{/foreach}}
      </div>

      {{pagination}}

    </main>
  </div>
{{/get}}
