.archive {
    position: relative;
    border-top: 1px solid var(--border-color);

    &__tab {
        position: absolute;
        @media screen and (min-width: 769px) {
            left: -2px;
            top: -1.78rem;
            width: 24rem;
        }
    }

    &__contents {
        position: relative;
        @media screen and (min-width: 769px) {
            padding-top: 0;
        }

        &__header {
            background-color: var(--background-color);
            @media screen and (min-width: 769px) {
                display: flex;
                align-items: center;
                padding: 1.7rem 0 1.5rem;
            }

            &__heading {
                letter-spacing: 0;
                font-weight: 600;
                line-height: 150%;
                font-size: max(1.2rem, 13px);
                padding-left: 1.5rem;
                color: #333;
                @media screen and (min-width: 769px) {
                    position: relative;
                    flex: none;
                    width: 15rem;
                }

                &--outline {
                    color: transparent;
                    -webkit-text-stroke: 1px black;
                }

                &::after {
                    @media screen and (min-width: 769px) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 1px;
                        height: 100%;
                        margin: auto 0;
                        content: "";
                        letter-spacing: -0.04em;
                        background-color: var(--tag-border-color);
                    }
                }
            }

            &__category {
                overflow-x: auto;
                line-height: 1;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &__list {
                    display: inline-flex;
                    list-style: none;

                    @media screen and (min-width: 769px) {
                        column-gap: 1em;
                        padding: 0 2.8em;
                    }

                    &__item {
                        &__link {
                            font-weight: 600;
                            line-height: 0;
                            border: 1px solid var(--tag-border-color);
                            border-radius: 999px;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            outline: none;
                            cursor: pointer;
                            transition-duration: .2s;
                            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                            transition-timing-function: cubic-bezier(.4,0,.2,1);

                            &:hover {
                                border-color: black;
                                background-color: black;

                                span {
                                    color: white;
                                }
                            }

                            @media screen and (min-width: 769px) {
                                padding: .8rem;
                                font-size: max(.75rem, 11px);
                            }

                            span {
                                text-wrap: nowrap;
                            }
                        }
                    }
                }
            }
        }

        &__list {
            border-bottom: 1px solid var(--border-color);
            @media screen and (min-width: 769px) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                overflow: hidden;
            }

            &__item {
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                &:hover {
                    background-color: var(--hover-color);
                    .archive__contents__list__item__link__thumbnail img {
                        @media screen and (min-width: 769px) and (hover: hover) {
                            transform: scale(1.1);
                        }
                    }
                }
                @media screen and (min-width: 769px) {
                    padding: 4.2rem 3rem 2.5rem;
                }

                &:nth-child(4n+1)::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 400%;
                    height: 1px;
                    content: "";
                    background-color: var(--border-color);
                }

                &:nth-child(4n+1)::after,
                &:nth-child(4n+2)::after,
                &:nth-child(4n+3)::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 1px;
                    height: 100%;
                    content: "";
                    background-color: var(--border-color);
                }

                &__link {
                    position: relative;
                    display: block;
                    flex-grow: 1;
                    width: 100%;
                    overflow: hidden;
                    transition-timing-function: ease;
                    transition-duration: 200ms;
                    transition-property: opacity, color, background-color, border-color, fill, filter;

                    &__thumbnail {
                        flex: none;
                        overflow: hidden;
                        border: 1px solid var(--border-color);

                        @media screen and (min-width: 769px) {
                            border-radius: 1.6em;
                        }

                        img {
                            aspect-ratio: 1;
                            object-fit: cover;
                            pointer-events: none;
                            display: block;
                            width: 100%;
                            max-width: none;
                            height: auto;
                            transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }

                    &__body {
                        gap: .5rem;
                        margin-top: .625rem;
                        flex-direction: column;
                        width: 100%;
                        display: flex;

                        &__topics {
                            gap: .25rem;
                            flex-wrap: wrap;
                            width: 100%;
                            display: flex;

                            &__topic {
                                transition-duration: .3s;
                                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                                transition-timing-function: cubic-bezier(.4,0,.2,1);
                                text-decoration-line: none;
                                line-height: 1rem;
                                padding-top: .125rem;
                                padding-left: .375rem;
                                padding-right: .375rem;
                                background-color: white;
                                border-radius: 5px;
                                width: fit-content;

                                span {
                                    font-size: max(.75rem, 11px);
                                    font-weight: 500;
                                    line-height: 120%;
                                }
                            }
                        }

                        &__title {
                            width: 100%;
                            h3 {
                                font-size: max(.875rem, 13px);
                                font-weight: 500;
                                line-height: 150%;
                                display: -webkit-box;
                                overflow: hidden;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                padding-bottom: 2px;
                                text-decoration: none;
                                margin: 0;
                                @media (min-width: 768px) {
                                    font-size: max(1.125rem, 13px);
                                    font-weight: 500;
                                    line-height: 150%;
                                }
                            }
                        }
                    }
                }

                &__meta {
                    display: flex;
                    gap: .5rem;
                    flex-direction: column;
                    width: 100%;

                    &__tags_container {
                        padding-bottom: .5rem;
                        padding-top: .5rem;
                        border-color: #bdbdbd;
                        border-style: dashed;
                        border-width: 1px 0;
                        width: 100%;

                        &__inner {
                            padding-bottom: 1px;
                            overflow: hidden;
                            width: 100%;
                            height: auto;

                            ul {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                row-gap: .25rem;
                                column-gap: .625rem;
                                @media (min-width: 768px) {
                                    row-gap: .375rem;
                                }

                                li {
                                    width: fit-content;
                                    a {
                                        display: flex;
                                        color: #666666;
                                        gap: 1px;
                                        justify-content: flex-start;
                                        align-items: center;
                                        height: 1.5em;
                                        width: fit-content;
                                        font-size: max(.75rem, 11px);
                                        font-weight: 500;
                                        line-height: 120%;
                                        text-decoration: none;
                                    }
                                    &:hover a {
                                        text-decoration-line: underline;
                                    }
                                }
                            }
                        }
                    }

                    &__info {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: .375rem;
                        width: 100%;
                        height: 1.625rem;

                        @media (min-width: 768px) {
                            height: 1.75rem;
                        }

                        time {
                            font-family: Barlow Condensed, "sans-serif";
                            font-size: max(.75rem, 13px);
                            font-weight: 600;
                            letter-spacing: .04em;
                            line-height: 120%;
                            flex-shrink: 0;
                        }
                    }
                }
            }
        }
    }
}
