.site-head {
    background-color: var(--background-color);
    height: 78px;
    padding: .5rem .875rem .625rem .875rem;

    @media (min-width: 768px) {
        padding: .75rem 1.75rem .75rem 1.5rem;
    }

    .gh-head-main {
        display: flex;
        gap: 1.25rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media (min-width: 1280px) {
            gap: 2.75rem;
        }
        @media (min-width: 1024px) {
            justify-content: flex-start;
            gap: 2rem;
        }
    }

    .gh-head-logo img {
        max-width: 12rem;
    }


    &__widgets {
        display: flex;
        gap: .75rem;
        align-items: center;
        &__date {
            display: flex;
            align-items: center;
            flex-direction: column;

            p {
                line-height: 100%;
                font-size: max(.6875rem, 10px);
                font-weight: 600;
                @media (min-width: 1024px) {
                    font-family: "Barlow Condensed", "sans-serif";
                    font-size: max(.75rem, 10px);
                }

                &:last-child {
                    display: flex;
                    align-items: center;
                    gap: .125rem;
                    font-size: max(1.5rem, 13px);
                    @media (min-width: 1024px) {
                        font-size: max(1.875rem, 13px);
                    }
                }
            }
        }
    }
}

.gh-head-inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 1.25rem;
}

.gh-head-nav {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    flex-shrink: 0;
    width: auto;
}

.gh-navigation-link {
    position: relative;
    text-decoration: unset;
    font-size: max(.8125rem, 11px);
    gap: 1px;
}

.gh-head-members {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
    width: auto;
}

.gh-head-members a {
    font-family: Barlow Condensed, "sans-serif";
    display: flex;
    opacity: 1;
    position: relative;
    text-decoration: unset !important;
    transition: opacity .3s ease-out;
    will-change: opacity;
    font-weight: 500;
    gap: 5px;
    align-items: center;
    font-size: max(.875rem, 13px);
}

.gh-head-members-separator {
    font-weight: 500;
    font-family: Barlow Condensed, "sans-serif";
    font-size: max(.875rem, 13px);
}

.gh-nav {
    background-color: var(--background-color);
    width: 100%;
    height: 75px;
    display: flex;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        overflow: auto;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            min-width: 5.5rem;
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;

            @media (min-width: 1024px) {
                min-width: 0;
            }

            @media (min-width: 768px) {
                min-width: 6rem;
            }

            span {
                position: absolute;
                width: 1px;
                height: 44%;
                left: 0;
                top: 50%;
                transform: translateY(-50%) scale(1);
                @media (min-width: 1024px) {
                    display: block;
                }
            }

            a {
                display: flex;
                text-decoration-line: none;
                padding: .625rem .5rem .75rem;
                align-items: center;
                flex-direction: column;
                width: 100%;
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                transition-duration: .2s;
                transition-timing-function: linear;

                @media (min-width: 1024px) {
                    gap: 3px;
                }

                .nav-icon {
                    width: 2rem;
                    height: 2rem;
                    transform-origin: center;

                    @media (prefers-reduced-motion: reduce) {
                        transition: transform .4s cubic-bezier(.25, 1, .5, 1) !important;
                    }
                }

                .nav-icon-svg {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    background-color: var(--hover-color);

                    .nav-icon {
                        transform: rotate(15deg);
                    }
                }

                p {
                    word-break: auto-phrase;
                    line-height: 120%;
                    text-align: center;
                    text-wrap: balance;
                    font-weight: 500;
                    font-size: max(.75rem, 10px);

                    @media (min-width: 1024px) {
                        font-size: max(.6875rem, 10px);
                        font-weight: 500;
                        line-height: 150%;
                    }
                }
            }
        }
    }

    .nav_buttons {
        display: flex;
        padding: 1rem 1.75rem;
        border-left: 1px solid var(--border-color);
        gap: 1.75rem;
        align-items: center;
        flex-shrink: 0;

        @media (max-width: 1024px) {
            display: none;
        }

        &__button {
            width: 5.69444vw;
            a {
                font-size: max(.8125rem, 13px);
                padding: .625rem 0;
                background-color: #333;
                border: 1px solid #333;
                border-radius: 5px;
                color: #fff;
                display: grid;
                font-weight: 700;
                line-height: 120%;
                place-items: center;
                text-decoration: none;
                transition: background-color .3s, color .3s;
                white-space: nowrap;
                width: 100%;
                &:hover {
                    background-color: initial;
                    color: var(--tag-border-color);
                }
            }
        }
    }
}

.gh-head-logo {
    font-weight: 800;
}

.gh-head-menu,
.gh-head-actions {
    font-weight: 600;
}

.gh-head-nav {
    @media (max-width: 1024px) {
        display: none;
    }
}
