.archive {
    font-size: calc(100vw / 144);
    font-family: 'Gothic A1', sans-serif;
    position: relative;
    border-top: 1px solid var(--dark-mode-border-color);

    &__tab {
        position: absolute;
        @media screen and (min-width: 769px) {
            top: -2.7em;
            left: -2px;
            width: 38.2em;
        }
    }

    &__contents {
        position: relative;
        @media screen and (min-width: 769px) {
            padding-top: 0;
        }

        &__header {
            background-color: var(--dark-mode-bg-color);
            @media screen and (min-width: 769px) {
                display: flex;
                align-items: center;
                padding: 1.7em 0 1.5em;
            }

            &__heading {
                letter-spacing: 0.1em;
                font-size: 2.4em;
                padding-left: 1.5em;
                font-weight: 800;
                @media screen and (min-width: 769px) {
                    position: relative;
                    flex: none;
                    width: 16em;
                }

                &--outline {
                    color: var(--dark-mode-bg-color);
                    -webkit-text-stroke: 1px white;
                }

                &::after {
                    @media screen and (min-width: 769px) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 1px;
                        height: 100%;
                        margin: auto 0;
                        content: "";
                        background-color: var(--dark-mode-border-color);
                        letter-spacing: -0.04em;
                    }
                }
            }

            &__category {
                overflow-x: auto;
                line-height: 1;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &__list {
                    display: inline-flex;
                    list-style: none;

                    @media screen and (min-width: 769px) {
                        column-gap: 1em;
                        padding: 0 2.8em;
                    }

                    &__item {
                        &__link {
                            font-weight: 600;
                            line-height: var(--leading-none);
                            border: 2px solid var(--dark-mode-border-color);
                            border-radius: 999px;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            outline: none;
                            cursor: pointer;

                            @media (prefers-reduced-motion: reduce) {
                                transition-timing-function: ease !important;
                                transition-duration: 200ms !important;
                                transition-property: opacity, color, background-color, border-color, fill, filter !important;
                            }

                            &:hover {
                                @media screen and (min-width: 769px) and (hover: hover) {
                                    background-color: rgba(126, 155, 174, 0.25);
                                }
                            }

                            @media screen and (min-width: 769px) {
                                padding: .8em;
                                font-size: 1.2em;
                            }

                            span {
                                text-wrap: nowrap;
                            }
                        }
                    }
                }
            }
        }

        &__list {
            border-bottom: 1px solid var(--dark-mode-border-color);
            @media screen and (min-width: 769px) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                overflow: hidden;
            }

            &__item {
                position: relative;
                display: flex;
                flex-direction: column;


                &:nth-child(4n+1)::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 400%;
                    height: 2px;
                    content: "";
                    background-color: var(--dark-mode-border-color);
                }

                &:nth-child(4n+1)::after,
                &:nth-child(4n+2)::after,
                &:nth-child(4n+3)::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    content: "";
                    background-color: var(--dark-mode-border-color);
                }

                &__link {
                    position: relative;
                    display: block;
                    flex-grow: 1;
                    width: 100%;
                    overflow: hidden;

                    @media (prefers-reduced-motion: reduce) {
                        transition-timing-function: ease !important;
                        transition-duration: 200ms !important;
                        transition-property: opacity, color, background-color, border-color, fill, filter !important;
                    }
                    @media screen and (min-width: 769px) {
                        padding: 8.4em 6em 5em;
                    }

                    &:hover {
                        opacity: 1;
                        background-color: rgba(126, 155, 174, 0.25);

                        .archive__contents__list__item__link__thumbnail img {
                            @media screen and (min-width: 769px) and (hover: hover) {
                                transform: scale(1.1);
                            }
                        }
                    }

                    &__thumbnail {
                        flex: none;
                        overflow: hidden;
                        border: 1px solid var(--color-border);

                        @media screen and (min-width: 769px) {
                            border-radius: 1.6em;
                        }

                        img {
                            aspect-ratio: 1;
                            object-fit: cover;
                            pointer-events: none;
                            display: block;
                            width: 100%;
                            max-width: none;
                            height: auto;

                            @media (prefers-reduced-motion: reduce) {
                                transition: transform 1200ms cubic-bezier(0.19, 1, 0.22, 1) !important;
                            }
                        }
                    }

                    &__body {
                        @media screen and (min-width: 769px) {
                            margin-top: 3.6em;
                        }

                        p {
                            font-family: Noto Sans JP, sans-serif;
                            font-weight: 700;
                            letter-spacing: .04em;
                            transform: scaleY(.6);
                            line-height: 1.4;
                            @media screen and (min-width: 769px) {
                                font-size: 1.5em;
                            }
                        }

                        h3 {
                            font-family: Noto Sans JP, sans-serif;
                            line-height: 1.4;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 6;
                            @media screen and (min-width: 769px) {
                                margin-top: 1em;
                                font-size: 1.6em;
                            }
                        }

                        &__tags {
                            display: flex;
                            flex-wrap: wrap;
                            list-style: none;
                            padding: 0;
                            @media screen and (min-width: 769px) {
                                gap: .5em;
                                margin-top: 1.8em;
                            }

                            &__item {
                                background-color: var(--dark-mode-bg-color);
                                border: 2px solid var(--dark-mode-border-color);
                                border-radius: 999px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                @media screen and (min-width: 769px) {
                                    padding: .2em 1em;
                                    font-size: 1.2em;
                                }

                                span {
                                    line-height: 1.6;
                                    text-wrap: nowrap;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
