.kg-width-wide,
.kg-content-wide > div {
    grid-column: wide;
}

.kg-width-full {
    grid-column: full;
}

.kg-width-full img {
    width: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    top: 0;
    left: 0;
}

.site-content {
    flex-grow: 1;
    padding-top: 60px;
}

.page-template .site-content {
    padding-top: 0;
}
