* {
    border: 0 solid #e5e7eb;
}

html {
    font-size: 16px;
}

body {
    color: var(--primary-text-color);
    font-family: Noto Sans JP, "sans-serif";
    letter-spacing: .02em;
    line-height: 150%;
    min-height: 100svh;
    padding-top: 153px;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    top: 0;
    left: 0;
}

.site-content {
    flex-grow: 1;
    padding-top: 60px;
}

.page-template .site-content {
    padding-top: 0;
}
