.kg-width-wide,
.kg-content-wide > div {
    grid-column: wide;
}

.kg-width-full {
    grid-column: full;
}

.kg-width-full img {
    width: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    top: 0;
    left: 0;
}

.site-content {
    flex-grow: 1;
    padding-top: 60px;
}

.page-template .site-content {
    padding-top: 0;
}

.content-area {
    padding: 2.5rem .875rem 3.75rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
        padding-bottom: 7.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    @media (min-width: 1024px) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
