.author-page-wrapper {
    margin: 2.5rem auto;
    max-width: 80%;
    @media (max-width: 1024px) {
        margin: 1rem 2.5rem;
        max-width: 100%;
    }
}

.author {
    padding: 1.5rem;
    background-color: var(--hover-color);
    @media (min-width: 768px) {
        padding: 2rem 3rem;
    }

    &__header {
        margin-bottom: 1.5rem;
        border-width: 0;
        @media (min-width: 768px) {
            display: flex;
            border-style: dashed;
            border-color: var(--tag-color);
            border-bottom-width: 1px;
            justify-content: space-between;
            align-items: center;
            padding-bottom: .75rem;
        }

        h2 {
            line-height: 150%;
            font-weight: 500;
            font-size: 1.125rem;
            padding-bottom: .75rem;
            border-color: var(--tag-color);
            border-style: dashed;
            border-bottom-width: 1px;
            margin-bottom: .625rem;
            @media (min-width: 768px) {
                padding-bottom: 0;
                border-width: 0;
                margin-bottom: 0;
            }
        }

        > div {
            flex-shrink: 0;
        }
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            column-gap: 1.5rem;
        }

        &__avatar {
            margin-bottom: 1rem;
            @media (min-width: 768px) {
                margin-bottom: 0;
                flex-shrink: 0;
            }

            &__container {
                position: relative;
                width: 6rem;
                margin-left: auto;
                margin-right: auto;

                img, svg {
                    display: block;
                    vertical-align: middle;
                    object-fit: cover;
                    border: 1px solid var(--tag-border-color);
                    border-radius: 9999px;
                    height: 6rem;
                    width: 6rem;
                }
            }
        }

        &__info {
            @media (min-width: 768px) {
                flex-grow: 1;
            }

            h2 {
                span {
                    display: block;
                    line-height: 150%;
                    font-weight: 700;
                    font-size: 1.25rem;
                    text-align: center;
                    @media (min-width: 768px) {
                        text-align: left;
                    }
                }
            }

            p {
                line-height: 180%;
                font-size: .875rem;
                margin-top: .625rem;
            }

            &__meta {
                margin-top: 1.5rem;
                @media (min-width: 768px) {
                    display: flex;
                    row-gap: .5rem;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 1.25rem;
                }

                &__page {
                    display: flex;
                    justify-content: center;
                    margin-top: 1.5rem;

                    @media (min-width: 768px) {
                        display: block;
                        margin-top: 0;
                    }

                    &__link {
                        display: block;
                        text-decoration: none;
                        background-color: var(--tag-border-color);
                        border-radius: .625rem;
                        width: fit-content;

                        &:hover &__text__icon__part--left {
                            transform: translateX(82%) scaleX(1.05) scaleY(1.05);
                        }

                        &__text {
                            &--outer {
                                display: block;
                                padding: .625rem 1.25rem;
                            }
                            &--inner {
                                display: flex;
                                position: relative;
                                width: 100%;
                                column-gap: 1rem;
                                justify-content: center;
                                align-items: center;
                            }
                            &__label {
                                font-size: max(.8125rem, 13px);
                                font-weight: 500;
                                color: white;
                            }

                            &__icon {
                                display: block;
                                width: 1.5rem;

                                &--inner {
                                    display: flex;
                                    width: 100%;
                                }

                                &__part {
                                    width: 100%;
                                    &--left {
                                        transition-timing-function: cubic-bezier(.25,1,.5,1);
                                        transition-duration: .6s;
                                        transition-property: transform;
                                    }

                                    &--right {
                                        margin-left: -10%;
                                    }

                                    svg {
                                        display: block;
                                        vertical-align: middle;
                                        overflow: visible;
                                        height: auto;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}